@charset "utf-8";
@import "header.css";
//内容
$first : first-child;
$last : last-child;
@mixin left($first:  first-child,$last: last-child){
  p:#{$first}{
    width: 3.25rem;
    margin-right: auto;
    img{
      width: 100%;
    }
  }
   p:#{$last}{
    width:( 7rem-3.35rem);
    color: #b7aca7;
    font-size: .24rem;
    line-height: .35rem;
  }
}
@mixin span(){
  color: #ffffff;
  font-size: 0.45rem;
  display:block;
  font-weight: 400;
  margin-top: .1rem;
}
.conter{
 .Jc{
      width: 7rem;
      margin: 0 auto;
      .conter-a{
        display:flex;
        @include  left($first,$last)
      }
      span{
        @include  span()
      }
  }
  .Jc1{
      padding-top: 0.4rem;
      @include  left($first:last-child,$last:first-child);
      span{
        @include  span()
      }
  }
  .Jc2{
      padding-top: 0.4rem;
      @include  left($first,$last);
  }
}
.null{
  height:1.2rem;
}
