@charset "utf-8";
//公共声明
html,body{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
#box{
  width: 7.5rem;
  margin:0 auto;
}
//标题栏
.header{
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 12px 0;
  & h3{
    font-size: 0.35rem;
    color: #ffffff;
  }
}
//内容
.wrapper-center{
  width: 7.5rem;
  & canvas{
    width: 7.5rem;
  }
}
