@charset "utf-8";
@import "header.css";
//服务范围内容
.conter1{
  width: 7.5rem;
  margin-top: 0.4rem;
   .tit{
    width: 70%;
    margin: 0 auto;
     img{
      width: 100%;
      height: 100%;
    }
  }
   .tit-conter{
    width: 6rem;
    margin: 0 auto;
    padding-top: .4rem;
     img{
      width: 100%;
      height: 100%;
    }
  }
}
//成功案例内容
.conter2{
  width: 7.5rem;
  margin-top: .4rem;
   .tit{
    width: 70%;
    margin: 0 auto;
      img{
      width: 100%;
      height: 100%;
    }
  }
   .conter2-img{
    width: 7rem;
    margin: 0 auto;
    display: flex;
    margin-top: .2rem;
  }
   .conter3-img{
    @extend .conter2-img;
  }
   .conter2-top-left{
    margin-right: auto;
  }
   .conter2-top-left,.conter2-top-right{
    width: 3.49rem;
     img{
      width: 100%;
    }
     p{
      font-size: 0.28rem;
      color: #ffffff;
    }
  }
}
//空
.null{
  height: .4rem;
}
.null-h{
  height: .8rem;
}
